header {
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;
  background: $white;

  & .logo {
    display: block;
    background: url("../../images/logo-dark.png") no-repeat;
    width: 115px;
    height: 30px;
  }

  & .logout {
    display: flex;
    align-items: center;
    color: $grey-dark;
    font-size: $size-6;

    & .icon-logout {
      background-color: $grey-dark;
    }

    &:hover {
      color: $green;
      text-decoration: none;

      & .icon-logout {
        background-color: $green;
      }
    }
  }
}
